<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<body>
  <div class="container">
    <mat-tab-group class="col-md-6">
      <mat-tab label="Register" style="font-size: 15px">
        <form #registerForm="ngForm" (ngSubmit)="registerNow()">
          <fieldset>
            <div class="form-group">
              <mat-form-field class="outline" appearance="outline">
                <mat-label>First Name</mat-label>
                <input
                  matInput
                  class="form-control"
                  type="text"
                  [(ngModel)]="user.firstName"
                  #firstname="ngModel"
                  name="firstname"
                  required
                  placeholder="Enter valid first name"
                  required
                />
              </mat-form-field>
            </div>

            <div class="form-group">
              <mat-form-field class="outline" appearance="outline">
                <mat-label>Last Name</mat-label>
                <input
                  matInput
                  class="form-control"
                  type="text"
                  [(ngModel)]="user.lastName"
                  #lastname="ngModel"
                  name="lastname"
                  placeholder="Enter valid last name"
                  required
                />
              </mat-form-field>
            </div>

            <div class="form-group">
              <mat-form-field class="outline" appearance="outline">
                <mat-label>Email</mat-label>
                <input
                  matInput
                  class="form-control"
                  required
                  type="text"
                  [(ngModel)]="user.email"
                  #email="ngModel"
                  name="email"
                  placeholder="Enter valid email"
                />
              </mat-form-field>
            </div>

            <div class="form-group">
              <mat-form-field class="outline" appearance="outline">
                <mat-label>Contact</mat-label>
                <input
                  matInput
                  class="form-control"
                  required
                  type="text"
                  [(ngModel)]="user.contact"
                  #email="ngModel"
                  name="contact"
                  placeholder="Enter valid contact"
                  required
                />
              </mat-form-field>
            </div>

            <div class="form-group">
              <mat-form-field class="outline" appearance="outline">
                <mat-label> Username</mat-label>
                <input
                  matInput
                  type="text"
                  [(ngModel)]="user.username"
                  #username="ngModel"
                  name="username"
                  class="form-control phone"
                  maxlength="28"
                  placeholder="Enter Username"
                  required
                />
              </mat-form-field>
            </div>

            <div class="form-group">
              <mat-form-field class="outline" appearance="outline">
                <mat-label>Password</mat-label>
                <input
                  matInput
                  class="form-control"
                  type="password"
                  [(ngModel)]="user.password"
                  #password="ngModel"
                  name="password"
                  placeholder="Enter valid password"
                  required
                />
              </mat-form-field>
            </div>

            <div class="form-group">
              <mat-form-field class="outline" appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input
                  matInput
                  class="form-control"
                  type="password"
                  [(ngModel)]="user.confirmPassword"
                  #password="ngModel"
                  name="password"
                  placeholder="Enter valid password"
                  required
                />
              </mat-form-field>
            </div>

            <div class="form-group">
              <mat-form-field class="outline" appearance="outline">
                <mat-label>Role</mat-label>
                <input
                  matInput
                  class="form-control"
                  type="text"
                  [(ngModel)]="user.role"
                  #email="ngModel"
                  name="role"
                  placeholder="Enter valid role"
                  required
                />
              </mat-form-field>
            </div>

            <div class="form-group">
              <mat-form-field class="outline" appearance="outline">
                <mat-label>Security Question(favourite sport)</mat-label>
                <input
                  matInput
                  class="form-control"
                  required
                  type="text"
                  [(ngModel)]="user.securityQuestion"
                  name="securityquestion"
                  placeholder="Enter favourite sport"
                />
              </mat-form-field>
            </div>

            <div style="text-align: center">
              <input
                class="btn btn-success"
                type="submit"
                name="submit_reg"
                value="Register"
                [disabled]="registerForm.invalid"
              />
            </div>
          </fieldset>
        </form>
      </mat-tab>
      <mat-tab label="Login">
        <form>
          <fieldset>
            <div class="form-group">
              <mat-form-field class="outline" appearance="outline">
                <mat-label> Username</mat-label>
                <input
                  matInput
                  type="text"
                  [(ngModel)]="user.username"
                  #username="ngModel"
                  name="username"
                  class="form-control phone"
                  maxlength="28"
                  placeholder="Enter Username"
                  required
                />
              </mat-form-field>
            </div>

            <div class="form-group">
              <mat-form-field class="outline" appearance="outline">
                <mat-label>Password</mat-label>
                <input
                  matInput
                  class="form-control"
                  type="password"
                  [(ngModel)]="user.password"
                  #password="ngModel"
                  name="password"
                  placeholder="Enter valid password"
                  required
                />
              </mat-form-field>
            </div>

            <div style="text-align: center">
              <input
                class="btn btn-success"
                type="submit"
                value="Login"
                (click)="login()"
              />
              <p>
                Forgot Password?
                <a
                  (click)="forgotPassword()"
                  style="color: blue; cursor: pointer"
                  >click here</a
                >
              </p>
            </div>
          </fieldset>
        </form>
        <div *ngIf="error" style="color: red">
          Incorrect Username or Password
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</body>
