<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<h1 mat-dialog-title>Reset Password</h1>
<div mat-dialog-content style="padding-top: 20px">
  <form #registerForm="ngForm" (ngSubmit)="submit()">
    <fieldset>
      <div class="form-group">
        <mat-form-field class="outline" appearance="outline">
          <mat-label> Username</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="reset.userName"
            #username="ngModel"
            name="username"
            class="form-control phone"
            placeholder="Enter Username"
            required
          />
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="outline" appearance="outline">
          <mat-label>Security Answer</mat-label>
          <input
            matInput
            class="form-control"
            type="text"
            [(ngModel)]="reset.securityAnswer"
            #password="ngModel"
            name="password"
            placeholder="Enter Security Answer"
            required
          />
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="outline" appearance="outline">
          <mat-label>New Password</mat-label>
          <input
            matInput
            class="form-control"
            type="password"
            [(ngModel)]="reset.newPassword"
            #password="ngModel"
            name="password"
            placeholder="Enter new password"
            required
          />
        </mat-form-field>
      </div>
      <div style="text-align: center">
        <input
          class="btn btn-success"
          style="margin-right: 5px"
          type="submit"
          name="save"
          value="Update"
          [disabled]="registerForm.invalid"
        />
        <input
          class="btn btn-success"
          style="margin-left: 5px"
          name="close"
          value="Cancel"
          mat-dialog-close
        />
      </div>
    </fieldset>
  </form>
  <div *ngIf="error" style="color: red">{{error}}</div>
  <div *ngIf="success" style="color: green">{{success}}</div>
</div>
