<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<div class="ticket">
  <h1 mat-dialog-title>
    {{ userData.movieInfo.movieTheater.movieName }} - {{
    userData.movieInfo.movieTheater.theaterName }}
  </h1>

  <div mat-dialog-content>
    <p>{{ userData.movieInfo.ticketStatus }}</p>
    <mat-grid-list cols="10" rowHeight="50px">
      <mat-grid-tile
        *ngFor="let seat of userData.seats"
        style="border: 5px solid white; color: white"
        [style.background-color]="
            seat.available ? (seat.selected ? 'red' : 'green') : 'gray'
          "
        (click)="toggleSelection(seat)"
      >
        {{ seat.number }}
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div mat-dialog-actions style="justify-content: center">
    <input
      class="btn btn-success"
      style="margin-right: 5px"
      value="Proceed"
      (click)="close()"
    />
    <input
      class="btn btn-success"
      style="margin-left: 5px"
      value="Cancel"
      mat-dialog-close
    />
  </div>
</div>
