.example-card {
    max-width: 300px;
    background-image: url('/assets/images/cards.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .example-spacer {
    flex: 1 1 auto;
  }