<h1 mat-dialog-title>Reset Password</h1>
<div mat-dialog-content>
  <form #registerForm="ngForm" (ngSubmit)="close()">
    <fieldset>
      <div class="form-group">
        <label for="reset"><span class="req">* </span>Enter New Password</label>
        <input
          required
          type="text"
          [(ngModel)]="reset"
          name="reset"
          class="form-control phone"
          maxlength="28"
          placeholder="Enter new password"
          required
        />
      </div>

      <div align="end">
        <input
          class="btn btn-success"
          type="submit"
          name="save"
          value="Add"
          [disabled]="registerForm.invalid"
        />
        <input
          class="btn btn-success"
          name="close"
          value="Cancel"
          mat-dialog-close
        />
      </div>
    </fieldset>
  </form>
</div>
